In [ ]:
Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.


import pandas as pd

data = [4, 8, 15, 16, 23, 42]
series = pd.Series(data)
print(series)

In [ ]:
Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the variable. Print it.


import pandas as pd

data_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
series = pd.Series(data_list)
print(series)

In [ ]:
Q3. Create a Pandas DataFrame that contains the following data:
Let's assume the data is:

Name    Age  City
Alice   30   New York
Bob     25   Los Angeles
Charlie 35   Chicago


import pandas as pd

data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [30, 25, 35],
    'City': ['New York', 'Los Angeles', 'Chicago']
}

df = pd.DataFrame(data)
print(df)

In [ ]:
Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.Series? Explain with an example.
DataFrame: A DataFrame is a two-dimensional, size-mutable, and heterogeneous tabular data structure with labeled axes (rows and columns). It is akin to a spreadsheet or SQL table and can hold data of different types (e.g., integers, strings).

Series: A Series is a one-dimensional labeled array capable of holding data of any type (e.g., integers, strings). It is similar to a column in a DataFrame or a list with labels.

Example:
    
import pandas as pd

# Series example
s = pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])
print("Series:")
print(s)

# DataFrame example
df = pd.DataFrame({
    'A': [1, 2, 3, 4],
    'B': [5, 6, 7, 8]
}, index=['a', 'b', 'c', 'd'])
print("DataFrame:")
print(df)


Difference:

A Series is a single column of data with an index.
A DataFrame is a collection of Series, where each Series represents a column.